<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="prevent_sleep" value="True"/>
		<add key="clipboard_path" value="\\ntsv-refs\シス技術.grp\10システム制御技術Ｇｒ\user\中村\ブリーフケース\clipboard\xclipboard.txt"/>
	</appSettings>
</configuration>